.container-hero,
.feature-highlight {
  width: 800px;
  margin: auto;
}

.how-it-works {
  width: 550px;
  margin: auto;
}

section.msg-cta {
  /* border: 1px solid red; */
  padding: 50px 0;
  height: 380px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.msg-cta h1 {
  font-size: 48px;
  /* border: 1px solid green; */
}

.msg-cta p {
  font-size: 18px;
}

.benefits {
  text-align: left;
  padding-left: 50px;
}

.benefits img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.benefits ul {
  list-style-type: none;
}

.benefits ul li {
  margin-bottom: 5px;
}

.container-feature-highlight,
.container-how-it-works {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.container-feature-highlight {
  margin-top: 50px;
  background-color: white;
}

.feature-highlight .features,
.how-it-works .steps {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.how-it-works .steps {
  margin-bottom: 30px;
}

.how-it-works .cta-btn {
  width: fit-content;
  margin: auto;
}

.feature-highlight .feature {
  /* border: 1px solid red; */
  width: 200px;
  text-align: center;
}

.how-it-works .step {
  width: 230px;
  text-align: center;
}

.feature-highlight img,
.how-it-works img {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.feature-highlight .features h3,
.how-it-works .steps h3 {
  margin-bottom: 10px;
}

footer {
  background-color: white;
  padding: 30px 50px;
  text-align: center;
}

footer .copyright {
  margin-bottom: 50px;
}

footer .copyright .logo h2 {
  display: inline-block;
  margin-right: 10px;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-media h3 {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

footer .social-media a img {
  width: 30px;
}

@media (max-width: 960px) {
  .container-hero {
    width: 650px;
  }

  .msg-cta h1 {
    font-size: 38px;
  }

  .feature-highlight {
    width: 700px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container-hero {
    width: 520px;
  }

  .msg-cta h1 {
    font-size: 30px;
  }

  .benefits {
    padding: 0;
  }

  .feature-highlight {
    width: 600px;
    margin: auto;
  }

  .feature-highlight .feature {
    /* border: 1px solid red; */
    width: 170px;
    text-align: center;
  }

  .feature-highlight img,
  .how-it-works img {
    width: 60px;
  }
}

@media (max-width: 650px) {
  .feature-highlight,
  .how-it-works {
    width: 450px;
  }

  .feature-highlight .features,
  .how-it-works .steps {
    margin-top: 30px;
    display: block;
  }

  .feature-highlight img,
  .how-it-works img {
    width: 60px;
  }

  .feature-highlight .feature,
  .how-it-works .step {
    width: calc(100% - 200px);
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .container-hero {
    width: 400px;
  }

  .msg-cta h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .container-hero {
    width: 300px;
  }

  .msg-cta h1 {
    font-size: 24px;
  }

  .msg-cta p {
    font-size: 14px;
  }

  .feature-highlight,
  .how-it-works {
    width: 350px;
  }

  .feature-highlight img,
  .how-it-works img {
    width: 50px;
  }

  .feature-highlight .feature,
  .how-it-works .step {
    width: calc(100% - 100px);
  }
}
