section.interpret-cta {
  height: auto;
}

section.upload-img * {
  display: block;
  margin: auto;
  text-align: center;
}

.upload-img-btn,
.submit-btn {
  cursor: pointer;
}

.upload-img-btn {
  position: relative;
}

.upload-img-btn::after {
  content: "Choose a file, supported file: grayscale image with .png format";
  position: absolute;
  top: 50px;
  left: -70px;
  right: -70px;
  width: fit-content;
  color: black;
}

div.img-preview {
  margin-bottom: 20px;
  position: relative;
}

.img-preview .close-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  line-height: 15px;
  color: black;
  font-weight: 600;
  position: absolute;
  right: 240px;
  top: -10px;
  border: 1px solid black;
  cursor: pointer;
}

section.result-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-preview img {
  width: 300px;
  height: 300px;
}

section.result-container > div h3 {
  text-align: center;
}

section.result-container > div {
  background-color: white;
  padding: 20px;
}

section.result-container .findings {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal-width columns */
  grid-template-rows: repeat(4, auto); /* 4 rows of automatic height based on content */
  gap: 30px;
  width: 100%;
  /* border: 1px solid #ccc; */
}

@media (max-width: 960px) {
  .img-preview .close-btn {
    right: 165px;
  }
}

@media (max-width: 768px) {
  .img-preview .close-btn {
    right: 100px;
  }
}

@media (max-width: 576px) {
  .img-preview .close-btn {
    right: 40px;
  }

  section.result-container .findings {
    grid-template-columns: 1fr;
    gap: 0px;
    margin-top: 30px;
  }

  section.result-container .findings > div:nth-child(even) {
    margin-bottom: 30px; /* Add gap after the 2nd row */
  }

  section.result-container .findings ul {
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .img-preview .close-btn {
    right: -8px;
  }
}
