section.hero {
  /* border: 1px solid red; */
  padding: 50px 0;
  width: 800px;
  height: 400px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  /* border: 1px solid green; */
}

.hero p {
  font-size: 18px;
}

@media (max-width: 960px) {
  section.hero {
    width: 650px;
  }

  .hero h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  section.hero {
    width: 520px;
  }

  .hero h1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  section.hero {
    width: 400px;
  }

  .hero h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  section.hero {
    width: 300px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }
}
